body {
  padding-top: 50px;
  padding-bottom: 20px;
}

header {
  font-size: 0.9em;
  margin: 20px 0;
}

.jumbotron {
  background-color:transparent !important;
  padding-bottom: 80px;
}

.clc-logo {
}

.clc-logo img {
  padding: 10px;
}

.content {
  padding-left: 50px !important;
  padding-right: 50px !important;
  margin-bottom: 50px;
  text-align: justify;
}

.content > h3 {
  margin-top: 40px;
  margin-bottom: 20px
}

/* Social bar */

.a2a_floating_style {
  top: 40%;
  right: 6px;
}
